@keyframes goUp {
    0% {
        transform: translateY(100%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes goUpLetters {
    0% {
        transform: translateY(10%);
        opacity: 0.5;
    }
    50% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes goUpHeart {
    0% {
        transform: translateY(20%);
        opacity: 0.5;
    }
    10% {
        opacity: 1;
    }
    50% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes goRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(70%); }
}

@keyframes goRightLess {
    0%, 100% {
        transform: translateX(0.5%);
        opacity: 1;
    }
}

@keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes border {
    0% {
        transform: scale(1.1);
    }
    50% {
        opacity: 0;
        transform: scale(0);
        border: none;
        background-image: radial-gradient(#ff2e4a48, #ff2e4a42, $primary-color);
    }
    70% {
        opacity: 1;
        border: none;
        background-image: radial-gradient(#ff2e4a48, #ff2e4a42, $primary-color);
        transform: scale(0.8);
        top: calc(50% - 50px);
        left: calc(50% - 50px); 
    }
    100% {
        opacity: 0;
        border: none;
        background-image: radial-gradient(#ff2e4a48, #ff2e4a42, $primary-color);
        transform: scale(0);
        top: calc(50% - 50px);
        left: calc(50% - 50px); 
    }
}

@keyframes circle-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes circle-in {
    0% {
        background-image: radial-gradient(#ff2e4a48, #ff2e4a42, $primary-color);
        transform: scale(0);
    }
    100% {
        background-image: radial-gradient(#ff2e4a48, #ff2e4a42, $primary-color);
        transform: scale(0.8);
    }
}
