@mixin flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin mobile-tablet {
    @media only screen and (max-width: $small-desktop) {
        @content;
    }
}